body {
    margin: 0;
    font-family: Arial;
    background: #1a140d;
    color: white;
}

header {
    background: #2b1d12;
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #ff8c42;
}

h1 {
    color: #ffd166;
}

nav {
    text-align: center;
    margin: 20px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffb347;
}


.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: #2b1d12;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
}
